<div data-test="home">
    <div fxLayout="row" fxLayoutGap="2%" fxLayout.lt-sm="column">
        <mat-card fxFlex="20" fxFlexOffset="2" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
            <div>Mail Groups</div> 
        </mat-card>
        <mat-card fxFlex="20" fxFlexOffset="2" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
            <div>Sent Mails</div>
        </mat-card>
        <mat-card fxFlex="20" fxFlexOffset="2" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
            <div>Delivered Mails</div>
        </mat-card>
        <mat-card fxFlex="20" fxFlexOffset="2" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
            <div>Rejected Delivered</div> 
        </mat-card>
    </div>
</div>
